[package]
name = "cachebox"
version = "4.3.1"
edition = "2021"
description = "The fastest memoizing and caching Python library written in Rust"
readme = "README.md"
license = "MIT"
homepage = "https://github.com/awolverp/cachebox"
repository = "https://github.com/awolverp/cachebox.git"

[lib]
name = "cachebox"
crate-type = ["cdylib"]

[profile.release]
codegen-units = 1
debug = false
incremental = false
lto = "fat"
panic = "abort"
strip = "symbols"

[dependencies]
hashbrown = { version = "^0.14", default-features = false, features=["inline-more", "raw"]}
fastrand = "^2.1"
pyo3 = { version = "0.23.1", default-features = false, features=["macros", "extension-module"] }
cfg-if = "1.0"
parking_lot_core = { version = "^0.9", default-features = false }
lock_api = { version = "^0.4", default-features = false }
fxhash = {version = "^0.2"}

[build-dependencies]
pyo3-build-config = { version = "0.23.1", features = ["resolve-config"] }

[lints.clippy]
dbg_macro = "warn"
print_stdout = "warn"
