[package]
name = "cachebox"
version = "2.0.23"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "cachebox"
crate-type = ["cdylib"]

[profile.release]
lto = "fat"

[dependencies]
parking_lot = "0.12.1"
pyo3 = "0.19.0"
rand = "0.8.5"
